/* --------------------------- define some resets --------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* ----------- DELETE BELOW THIS and replace with your own styles ----------- */
body {
  position: relative;
  font-family: Oxygen, sans-serif;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

main a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 1em;
}

.check {
  text-align: center;
  padding: 0.5em;
  line-height: 1.5em;
}

.big-box {
  text-align: center;
  padding: 2rem;
  background-color: hsl(203, 100%, 50%);
  color: white;
  font-size: 2rem;
  line-height: 1.5em;
  border-radius: 1rem;
  box-shadow: 0 10px 13px -7px #000;
}

.no-js {
  text-align: center;
  color: red;
  font-weight: 700;
}

footer {
  position: absolute;
  font-size: 0.8em;
  text-align: center;
  bottom: 2em;
}

footer a {
  color: hsl(37, 100%, 35%);
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  body {
    width: 95%;
    justify-content: flex-start;
    margin-top: 2em;
  }

  .big-box {
    font-size: 1.5em;
  }
}
