/* --------------------------- define some resets --------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* ----------- DELETE BELOW THIS and replace with your own styles ----------- */
body {
  font-family: Oxygen, sans-serif;
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 1em;
  font-weight: 700;
  letter-spacing: 3px;
}

.check {
  text-align: center;
  padding: 0.5em;
  line-height: 1.5em;
}

.big-box {
  text-align: center;
  padding: 2em;
  margin: 1em;
  background-color: hsl(203, 100%, 50%);
  color: white;
  font-size: 2em;
  line-height: 1.5em;
  border-radius: 1em;
  box-shadow: 0 10px 13px -7px #000;
}

.no-js {
  text-align: center;
  color: red;
  font-weight: 700;
}

footer {
  font-size: 0.8em;
  text-align: center;
}

footer a {
  color: hsl(37, 100%, 35%);
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  body {
    width: 95%;
  }

  .big-box {
    font-size: 1.5em;
  }
}
