.moduleTest {
  background-color: hsl(203, 100%, 50%);
  color: white;
  width: 90%;
  padding: 0.5em;
  border-radius: 1em;
  text-align: center;
  margin: 1em auto;
  box-shadow: 0 10px 13px -7px #000;
}
